a {
    text-decoration: underline;
}

a.no-ul {
    text-decoration: none;
}

body {
}

cite {
    font-style: italic;
}

dt {
    padding-top: 1em;
}

figure {
    padding-bottom: 2em;
}

main {
}

nav {
}